{{ define "main" }}

<!-- banner -->
<section class="banner bg-cover" style="background-image: url('{{ .Site.Params.banner.bgImage | relURL }}');">
  <img src="{{ .Site.Params.banner.image | relURL }}" class="img-fluid illustration rounded-circle" alt="">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <h1>{{ .Site.Params.banner.title | markdownify }}</h1>
      </div>
      <div class="col-lg-6 illustration-mobile">
        <img src="{{ .Site.Params.banner.image | relURL }}" class="img-fluid rounded-circle" alt="">
      </div>
    </div>
  </div>
</section>
<!-- /banner -->

<!-- cta -->
{{ if .Site.Params.cta.enable }}
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="row shadow bg-white p-2 mb-2 rounded">
          <div class="col-md-4 text-center text-md-left mb-4 mb-lg-0">
            <img src="images/sax.png" class="mr-4 img-fluid" alt="..."></div>
          <div class="col-md-8 text-center text-md-left">
            <h3 class="mt-0">Saxophone</h3>
            <p>{{ .Site.Params.cta.description | markdownify }}</p>
            {{ if .Site.Params.cta.button.enable }}
            <!-- calendly button -->
            <a href=""
              class="btn btn-primary" 
              onclick="Calendly.initPopupWidget({url: 'https://calendly.com/melks'});return false;">{{ .Site.Params.cta.button.label }}</a>
            {{ end }}
          </div>
        </div>
        <div class="row shadow bg-white p-2 mb-2 rounded">
          <div class="col-md-4 text-center text-md-left mb-4 mb-lg-0">
            <img src="images/clarinet.png" class="mr-4 img-fluid" alt="..."></div>
          <div class="col-md-8 text-center text-md-left">
            <h3 class="mt-0">Clarinet</h3>
            <p>{{ .Site.Params.cta.description | markdownify }}</p>
            {{ if .Site.Params.cta.button.enable }}
            <!-- calendly button -->
            <a href=""
              class="btn btn-primary" 
              onclick="Calendly.initPopupWidget({url: 'https://calendly.com/melks'});return false;">{{ .Site.Params.cta.button.label }}</a>
            {{ end }}
          </div>
        </div>
        <div class="row shadow bg-white p-2 mb-2 rounded">
          <div class="col-md-4 text-center text-md-left mb-4 mb-lg-0">
            <img src="images/theory.png" class="mr-4 img-fluid" alt="..."></div>
          <div class="col-md-8 text-center text-md-left">
            <h3 class="mt-0">Music Theory</h3>
            <p>{{ .Site.Params.cta.description | markdownify }}</p>
            {{ if .Site.Params.cta.button.enable }}
            <!-- calendly button -->
            <a href=""
              class="btn btn-primary" 
              onclick="Calendly.initPopupWidget({url: 'https://calendly.com/melks'});return false;">{{ .Site.Params.cta.button.label }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /cta -->

{{ end }}